<div>
  <link href="./beranda.css" rel="stylesheet" />
  <div class="beranda-beranda">
    <img
      alt="bxplaycircle1922"
      src="public/playground_assets/bxplaycircle1922-zws.svg"
      class="beranda-bxplaycircle"
    />
    <img
      alt="undrawmedicineb1ol211845"
      src="public/playground_assets/undrawmedicineb1ol211845-s8znx.svg"
      class="beranda-undrawmedicineb1ol21"
    />
    <div class="beranda-group467">
      <span class="beranda-text"><span>Berita</span></span>
      <img
        alt="Rectangle2751921"
        src="public/playground_assets/rectangle2751921-rc1d-200h.png"
        class="beranda-rectangle275"
      />
      <span class="beranda-text02"><span>Masuk</span></span>
      <span class="beranda-text04"><span>Beranda</span></span>
      <span class="beranda-text06"><span>Forum</span></span>
      <span class="beranda-text08"><span>Kesehatan</span></span>
      <div class="beranda-group466">
        <span class="beranda-text10">
          <span class="beranda-text11">AIDS</span>
          <span>Pedia</span>
        </span>
        <img
          alt="image61342"
          src="public/playground_assets/image61342-h4vp-200w.png"
          class="beranda-image6"
        />
      </div>
    </div>
    <span class="beranda-text13">
      <span>
        <span>Pentingnya Menjaga</span>
        <br />
        <span>Kesehatan Kamu!</span>
      </span>
    </span>
    <span class="beranda-text18">
      <span>
        Tahukah Kamu? Menurut Kementerian Kesehatan (Kemenkes) orang dengan HIV
        di Indonesia. Hingga Juni 2022, total pengidap HIV yang tersebar di
        seluruh provinsi mencapai 519.158 orang. Infeksi merupakan salah satu
        penyakit yang harus diwaspadai.
      </span>
    </span>
    <span class="beranda-text20">
      <span>
        Tumbuhkan kesadaran dan pemahaman sejak dini terhadap penyakit AIDS yang
        sangat berbahaya bagi tubuh
      </span>
    </span>
    <span class="beranda-text22">
      <span>
        Cari pengetahuan dan informasi aktual mengenai bahaya HIV/AIDS
      </span>
    </span>
    <span class="beranda-text24">
      <span>
        Periksa kondisi untuk menjaga kesehatan dari penyakit HIV/AIDS
      </span>
    </span>
    <img
      alt="Rectangle2761921"
      src="public/playground_assets/rectangle2761921-k03q-200h.png"
      class="beranda-rectangle276"
    />
    <span class="beranda-text26"><span>Mari Bergabung</span></span>
    <span class="beranda-text28"><span>Tentang Bahaya HIV/AIDS</span></span>
    <span class="beranda-text30"><span>Jaga Kesehatan Kamu Yuk!</span></span>
    <img
      alt="Rectangle2772022"
      src="public/playground_assets/rectangle2772022-5at-200h.png"
      class="beranda-rectangle277"
    />
    <span class="beranda-text32"><span>LAYANAN KAMI</span></span>
    <img
      alt="Ellipse1112023"
      src="public/playground_assets/ellipse1112023-5sri-200h.png"
      class="beranda-ellipse111"
    />
    <img
      alt="Ellipse1132026"
      src="public/playground_assets/ellipse1132026-zmrs-200h.png"
      class="beranda-ellipse113"
    />
    <img
      alt="newspaperFILL0wght400GRAD0opsz4812023"
      src="public/playground_assets/newspaperfill0wght400grad0opsz4812023-0jaw.svg"
      class="beranda-newspaper-f-i-l-l0wght400g-r-a-d0opsz481"
    />
    <span class="beranda-text34"><span>Berita</span></span>
    <span class="beranda-text36"><span>Kesehatan</span></span>
    <span class="beranda-text38"><span>Baca di sini</span></span>
    <span class="beranda-text40"><span>Cek di sini</span></span>
    <span class="beranda-text42">
      <span>
        <span>Diskusi terkait cara pencegahan dan</span>
        <br />
        <span>gejala HIV/AIDS</span>
      </span>
    </span>
    <img
      alt="Ellipse1122024"
      src="public/playground_assets/ellipse1122024-6s6-200h.png"
      class="beranda-ellipse112"
    />
    <span class="beranda-text47"><span>Forum</span></span>
    <span class="beranda-text49"><span>Tanya di sini</span></span>
    <img
      alt="forumFILL0wght400GRAD0opsz4812025"
      src="public/playground_assets/forumfill0wght400grad0opsz4812025-4cqi.svg"
      class="beranda-forum-f-i-l-l0wght400g-r-a-d0opsz481"
    />
    <img
      alt="healthandsafetyFILL0wght400GRAD0opsz4812026"
      src="public/playground_assets/healthandsafetyfill0wght400grad0opsz4812026-1var.svg"
      class="beranda-healthandsafety-f-i-l-l0wght400g-r-a-d0opsz481"
    />
    <img
      alt="chevronrightFILL0wght400GRAD0opsz4812027"
      src="public/playground_assets/chevronrightfill0wght400grad0opsz4812027-6b3r.svg"
      class="beranda-chevronright-f-i-l-l0wght400g-r-a-d0opsz481"
    />
    <img
      alt="arrowforwardFILL0wght400GRAD0opsz4812027"
      src="public/playground_assets/arrowforwardfill0wght400grad0opsz4812027-q6b.svg"
      class="beranda-arrowforward-f-i-l-l0wght400g-r-a-d0opsz481"
    />
    <img
      alt="arrowforwardFILL0wght400GRAD0opsz4822027"
      src="public/playground_assets/arrowforwardfill0wght400grad0opsz4822027-cwob.svg"
      class="beranda-arrowforward-f-i-l-l0wght400g-r-a-d0opsz482"
    />
    <img
      alt="arrowforwardFILL0wght400GRAD0opsz4832028"
      src="public/playground_assets/arrowforwardfill0wght400grad0opsz4832028-e9b.svg"
      class="beranda-arrowforward-f-i-l-l0wght400g-r-a-d0opsz483"
    />
  </div>
</div>
